.container {
  columns: 6 236px;
}

.container img {
  margin: 7px;
  width: 100%;
  border: 10px black;
  border-radius: 10px;
  cursor: pointer;
}

.no-posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: 100%;
  text-align: center;
}

.no-posts-container p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
