nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffff;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.logo-img {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  font-size: 25px;
  color: #5f5f66;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}

.icon:hover {
  background: #dad9d9;
  border-radius: 90%;
}
