.container {
  columns: 6 236px;
}

.container img {
  margin: 7px;
  width: 100%;
  border: 10px black;
  border-radius: 10px;
}

.container img:hover {
  /*add a dark overlay on hover*/
  filter: brightness(50%);
}
