html,
body {
  height: 100%;
  /* overflow-y: auto; Ensures vertical scrollbar is always visible */
  overscroll-behavior-y: none; /* Prevents bouncy scrolling on some browsers */
}

body {
  min-height: 100vh;
  overflow-y: scroll; /* Forces scrollbar to be visible */
}
